{% extends 'base.html' %}
{% block content %}
<!--   hero area start   -->
<div class="about-bg breadcrumb-area about">
    <div class="container">
       <div class="service breadcrumb-txt">
          <div class="row">
             <div class="col-xl-7 col-lg-8 col-sm-10">
                <span>Company Overview</span>
                <h1>We are 100%Trusted Financial Experts</h1>
                <ul class="breadcumb">
                   <li><a href="{% url 'homepage' %}">Home</a></li>
                   <li>Company overview</li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <div class="breadcrumb-area-overlay"></div>
 </div>
 <!--   hero area end    -->


 <!--   about company section start   -->
 <div class="about-company-section">
    <div class="container">
       <div class="row">
          <div class="col-lg-5">
             <span class="section-title">About company</span>
             <h2 class="section-summary">We look forward to getting to know you here's a little about us</h2>
             <div class="about-company-txt">
               <p>Smart Millionaires  is an investment company specializing in analyzing and developing ideas that drive new perspectives new products and new ways of growth in partnership with our innovators, investors and other member.</p>
                 <p>At Smart Millionaires , we are very committed to quality services; guaranteed success for our members and helping different people with money by helping them, invest their money in profitable projects from our innovators who will give them a real chance to increase their income and achieve success. </p>

             </div>
          </div>
          <div class="offset-lg-1 col-lg-6">
             <div class="tile-gallery">
                <div class="row">
                   <div class="col-12">
                      <div class="big-img big-img-bg"></div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-6">
                      <div class="small-img small-img-bg-1"></div>
                   </div>
                   <div class="col-6">
                      <div class="small-img small-img-bg-2"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="choose-us">
          <div class="row">
             <div class="col-md-6">
                <div class="single-reason">
                   <div class="about-icon-wrapper"> <i class="flaticon-reload"></i> </div>
                   <div class="reason-txt">
                      <h4>Mission</h4>
                      <p>Connecting investors with innovators, by providing them with strengthened partnerships that will enable them and us to grow and prosper as the world’s leading Investment Company.</p>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="single-reason">
                   <div class="about-icon-wrapper"> <i class="flaticon-organize"></i> </div>
                   <div class="reason-txt">
                      <h4>Vision</h4>
                      <p>Providing a better life, opportunities and financial freedom for our members, shareholders, partners and others...</p>
                   </div>
                </div>
             </div>

          </div>
       </div>
    </div>
 </div>
 <!--   about company section end   -->


 <!--    call to action section start    -->
 <div class="cta-section cta-bg">
    <div class="container">
       <div class="cta-content">
          <div class="row">
             <div class="col-md-9 col-lg-7">
                <h3>Like What You See? Get In Touch!</h3>
             </div>
             <div class="col-md-3 col-lg-5 contact-btn-wrapper">
                <a href="contact.html" class="boxed-btn contact-btn"><span>Contact Us</span></a>
             </div>
          </div>
       </div>
    </div>
    <div class="cta-overlay"></div>
 </div>
  
{% endblock content %}