<!DOCTYPE html>
<html lang="en">
{% load static %}
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Smartmillioners Company Limited|</title>
      <!-- favicon -->
      <link rel="shortcut icon" href="{% static 'assets/img/favicon.png'%}" type="image/x-icon">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css'%}">
      <!-- flaticon css -->
      <link rel="stylesheet" href="{% static 'assets/css/flaticon.css'%}">
      <!-- owl carousel css -->
      <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
      <!-- owl carousel theme css -->
      <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css'%}">
      <!-- slicknav css -->
      <link rel="stylesheet" href="{% static 'assets/css/slicknav.css'%}">
      <!-- main css -->
      <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
      <!-- jquery js -->
      <script src="{% static 'assets/js/jquery-3.3.1.min.js'%}"></script>
   </head>


   <body>
      <!--   header area start   -->
      <div class="header-area header-absolute">
         <div class="container">
            <div class="support-bar-area">
               <div class="row">
                  <div class="col-lg-6 support-contact-info">
                     <span class="address"><i class="flaticon-placeholder"></i> Mbezi Beach Africana</span>
                     <span class="phone"><i class="flaticon-chat"></i> +255692361459</span>
                  </div>
                  <div class="col-lg-6 text-right">
                     <ul class="social-links">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                     </ul>

                  </div>
               </div>
            </div>
            <div class="header-navbar">
               <div class="row">
                  <div class="col-lg-2 col-6">
                     <div class="logo-wrapper">
                        <a href="index.html"><img src="{% static 'assets/img/logo.png'%}" alt=""></a>
                     </div>
                  </div>
                  <div class="col-lg-10 col-6 text-right position-static">
                     <ul class="main-menu" id="mainMenu">
                         
                        <li>
                           <a class="dropdown-btn" href="{% url 'homepage' %}">Home</a>

                        </li>
                    
                        <li><a href=" {% url 'about' %}">About Us</a></li>

                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'contact' %}" class="boxed-btn">Make Appointment</a></li>
                     </ul>
                     <div id="mobileMenu"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--   header area end   -->



{% block content %}
  
{% endblock %}



<!-- Footer Start Here -->

 <footer class="footer-section">
    <div class="container">
       <div class="top-footer-section">
          <div class="row">
             <div class="col-lg-4 col-md-12">
                <div class="footer-logo-wrapper">
                   <h4>About Us</h4>
                </div>
                <p class="footer-txt">
                  Smart Millionaires is an investment company specializing in analyzing
                  and developing ideas that drive new perspectives
                  new products and new ways of growth in partnership with our innovators, investors and other member

                  </p>
             </div>
             <div class="col-lg-4 col-md-3">
                <h4>Useful Links</h4>
                <ul class="footer-links">
                    
                   <li><a href="{% url 'homepage' %}">Home</a></li>
                   <li><a href="{% url 'about' %}">About us</a></li>
                   <li><a href="{% url 'services'%}">Services</a></li>
                   <li><a href="{% url 'contact'%}">Contact</a></li>
                
                </ul>
             </div>
             
             <div class="col-lg-4 col-md-6">
                <h4>Contact Us</h4 >
                <div class="footer-contact-info">
                   <ul>
                      <li><i class="fa fa-home"></i><span> Mbezi Beach Africana</span>
                      </li>
                      <li><i class="fa fa-phone"></i><span>+255692361459 </span></li>
                      <li><i class="far fa-envelope"></i><span>info@smartmillioners.com</span></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <div class="copyright-section">
          <div class="row">
             <div class="col-sm-7">
                <p class="text-left">© Copyrights 2022 Smart Millionaires. All rights reserved.</p>
             </div>
             <div class="col-sm-5">
                <p class="text-right">Designed by <strong>MifumoTZ</strong></p>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!--    footer section end   -->


 <!-- preloader section start -->
 <div class="loader-container">
    <span class="loader">
    <span class="loader-inner"></span>
    </span>
 </div>
 <!-- preloader section end -->


 <!-- back to top area start -->
 <div class="back-to-top">
    <i class="fas fa-chevron-up"></i>
 </div>
 <!-- back to top area end -->


 <!-- popper js -->
 <script src="{% static 'assets/js/popper.min.js'%}"></script>
 <!-- bootstrap js -->
 <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
 <!-- owl carousel js -->
 <script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
 <!-- slicknav js -->
 <script src="{% static 'assets/js/jquery.slicknav.min.js'%}"></script>
 <!-- isotope js -->
 <script src="{% static 'assets/js/isotope.pkgd.min.js'%}"></script>
 <!-- particle js -->
 <script src="{% static 'assets/js/particles.min.js'%}"></script>
 <!-- jquery ripples js -->
 <script src="{% static 'assets/js/jquery.ripples-min.js'%}"></script>
 <!-- ytplayer js -->
 <script src="{% static 'assets/js/YTPlayer.min.js'%}"></script>
 <!-- parallax js -->
 <script src="{% static 'assets/js/parallax.min.js'%}"></script>
 <!-- main js -->
 <script src="{% static 'assets/js/main.js'%}"></script>
</body>
</html>