{% extends 'base.html' %}
{% block content %}


      <!--   hero area start   -->
      <div class="hero-area hero2-carousel owl-carousel owl-theme">
        <div class="hero-bg-2">
           <div class="container">
              <div class="hero-txt">
                 <div class="row">
                    <div class="col-12">
                       <span>Finanancial  planning for life</span>
                       <h1>Trusted to help guide entrepreneurs make better financial decisions.</h1>
                       <a href="about.html" class="hero-boxed-btn">Learn more</a>
                    </div>
                 </div>
              </div>
           </div>
           <div class="hero-area-overlay"></div>
        </div>
        <div class="hero-bg-3">
           <div class="container">
              <div class="hero-txt">
                 <div class="row">
                    <div class="col-12">
                       <span>Finanancial  planning for life</span>
                       <h1>Trusted to help guide entrepreneurs make better financial decisions.</h1>
                       <a href="about.html" class="hero-boxed-btn">Learn more</a>
                    </div>
                 </div>
              </div>
           </div>
           <div class="hero-area-overlay"></div>
        </div>
        <div class="hero-bg">
           <div class="container">
              <div class="hero-txt">
                 <div class="row">
                    <div class="col-12">
                       <span>Finanancial  planning for life</span>
                       <h1>Trusted to help guide entrepreneurs make better financial decisions.</h1>
                       <a href="about.html" class="hero-boxed-btn">Learn more</a>
                    </div>
                 </div>
              </div>
           </div>
           <div class="hero-area-overlay"></div>
        </div>
     </div>
     <!--   hero area end    -->


     <!--    introduction area start   -->
     <div class="intro-section">
        <div class="container">
           <div class="hero-features">
              <div class="row">
                 <div class="col-md-3 col-sm-6 single-hero-feature">
                    <div class="outer-container">
                       <div class="inner-container">
                          <div class="icon-wrapper">
                             <i class="flaticon-briefcase"></i>
                          </div>
                          <h3>Business & Innovation Consultancy
                          </h3>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-3 col-sm-6 single-hero-feature">
                    <div class="icon-wrapper">
                       <i class="flaticon-wallet"></i>
                    </div>
                    <h3>Investment</h3>
                 </div>
                 <div class="col-md-3 col-sm-6 single-hero-feature">
                    <div class="icon-wrapper">
                       <i class="flaticon-chart"></i>
                    </div>
                    <h3>Innovation</h3>
                 </div>
                 <div class="col-md-3 col-sm-6 single-hero-feature">
                    <div class="icon-wrapper">
                       <i class="flaticon-profits"></i>
                    </div>
                    <h3>Connecting investors with Innovators</h3>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-lg-6 pr-0">
                 <div class="intro-txt">
                    <span class="section-title">Who we are</span>
                    <h2 class="section-summary">We keep things simple, putting you in control so you can make informed choices </h2>
                    <a href="about.html" class="intro-btn"><span>what we do</span></a>
                 </div>
              </div>
              <div class="col-lg-6 pl-lg-0 px-md-3 px-0">
                 <div class="intro-bg"></div>
              </div>
           </div>
        </div>
     </div>
     <!--    introduction area end   -->


     <!--   how we do section start   -->
     <div class="approach-section">
        <div class="container">
           <div class="row">
              <div class="col-lg-6">
                 <div class="approach-summary">
                    <span class="section-title">How we do</span>
                    <h2 class="section-summary">A fresh approach to financial services for entrepreneurs</h2>
                    <a href="about.html" class="boxed-btn"><span>About Us</span></a>
                 </div>
              </div>
              <div class="col-lg-6">
                 <ul class="approach-lists">
                    <li class="single-approach">
                       <div class="approach-icon-wrapper"><i class="flaticon-arrow-on-the-center-of-the-target"></i></div>
                       <div class="approach-text">
                          <h4>Mission</h4>
                          <p>Connecting investors with innovators, by providing them with strengthened partnerships that will enable them and us to grow and prosper as the world’s leading Investment Company.</p>
                       </div>
                    </li>
                    <li class="single-approach">
                       <div class="approach-icon-wrapper"><i class="flaticon-organize"></i></div>
                       <div class="approach-text">
                          <h4>Vision</h4>
                          <p>Providing a better life, opportunities and financial freedom for our members, shareholders, partners and others..</p>
                       </div>
                    </li>

                 </ul>
              </div>
           </div>
        </div>
     </div>
     <!--   how we do section end   -->


     <!--    call to action section start    -->
     <div class="cta-section cta-bg">
        <div class="container">
           <div class="cta-content">
              <div class="row">
                 <div class="col-md-9 col-lg-7">
                    <h3>Like What You See? Get In Touch!</h3>
                 </div>
                 <div class="col-md-3 col-lg-5 contact-btn-wrapper">
                    <a href="contact.html" class="boxed-btn contact-btn"><span>Contact Us</span></a>
                 </div>
              </div>
           </div>
        </div>
        <div class="cta-overlay"></div>
     </div>
     <!--    call to action section end    -->


     <!--    case section start   -->
     <div class="case-section">
        <div class="container">
           <div class="row">
              <div class="col-lg-6">
                 <span class="section-title">Our Services</span>
                 <h2 class="section-summary">A fresh approach to financial services for entrepreneurs</h2>
              </div>
           </div>
        </div>
        <div class="container-fluid">
           <div class="row">
              <div class="col-md-12">
               
                 <div class="case-carousel owl-carousel owl-theme">
                    <div class="single-case single-case-bg-1">
                       <div class="outer-container">
                          <div class="inner-container">
                             <h4>Business & Innovation Consultancy</h4>
                             <a href="  {% url 'services' %}" class="readmore-btn"><span>Read More</span></a>
                          </div>
                       </div>
                    </div>
                    <div class="single-case single-case-bg-2">
                       <div class="outer-container">
                          <div class="inner-container">
                             <h4>Innovation</h4>
                             <a href="  {% url 'services' %}" class="readmore-btn"><span>Read More</span></a>
                          </div>
                       </div>
                    </div>
                    <div class="single-case single-case-bg-3">
                       <div class="outer-container">
                          <div class="inner-container">
                             <h4>Connecting investors With Innovators</h4>
                             <a href="  {% url 'services' %}" class="readmore-btn"><span>Read More</span></a>
                          </div>
                       </div>
                    </div>
                    <div class="single-case single-case-bg-3">
                       <div class="outer-container">
                          <div class="inner-container">
                             <h4>Investment</h4>
                             <a href="  {% url 'services' %}" class="readmore-btn"><span>Read More</span></a>
                          </div>
                       </div>
                    </div>

                    </div>


                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
    

  
{% endblock content %}